<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redirigir todo el tráfico a la carpeta "public"
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>