.project__header {
    margin: var(--space-6) var(--space-16);
}

.project__image {
    width: 100%;
    overflow: hidden;
    border: var(--border-width-base) solid var(--border-strong);
    box-shadow: var(--shadow-hard-base);
    object-fit: cover;
    aspect-ratio: 16/9;
}

.project-content {
    margin: var(--space-6) var(--space-16);
    display: flex;
    gap: var(--space-6);
}

.project-content__wrapper {
    flex-basis: 0;
    flex-grow: 3;
}

.project-content__meta {
    flex-basis: 0;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    padding: var(--space-6);
    background-color: var(--neutral-50);
    border: var(--border-width-base) solid var(--border-strong);
    box-shadow: var(--shadow-hard-base);
}

.project-content__field {
    display: flex;
    gap: var(--space-6);
}

.project-meta__label {
    font-weight: var(--font-weight-bold);
}

.project-content__stack {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-3);

    span {
        flex-basis: 100%;
    }
}

.project-content__links {
    margin: var(--space-6) 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}