@use '../../abstracts/variables';

// ----- HERO -----
.hero__wrapper {
    display: grid;
    margin: 0 var(--space-16);
    justify-content: center;
    align-items: center;
    align-content: center;
    // justify-items: center;
    grid-template-columns: 1fr 1fr;
    min-height: calc(100vh - var(--nav-height));

    @media (max-width: $bp-lg) {
        grid-template-columns: 1fr;
        padding-top: var(--space-8);
    }

    @media(max-width: $bp-md) {
        margin: 0 var(--space-10);
    }

    @media(max-width: $bp-sm) {
        margin: 0 var(--space-8);
    }

}

.hero__image {
    position: relative;
    min-height: 100%;
    align-content: center;

    @media (max-width: $bp-lg) {
        display: none;
    }
}

.hero__image--photo {
    display: block;
    width: 75%;
    object-fit: cover;
    position: relative;
    border: var(--border-width-base) solid var(--shadow-color);
    box-shadow: var(--shadow-hard-lg);
    max-height: 75vh;
    margin: 0 auto;

    @media (min-width: $bp-lg) {
        margin: auto;
    }
}

.hero__image--label {
    font-family: var(--font-code);
    position: absolute;
    bottom: calc(var(--space-2) * -1);
    right: calc(var(--space-2) * -1);
    padding: var(--space-2);
    background-color: var(--bg-card);
    border: var(--border-width-base) solid var(--shadow-color);
    box-shadow: var(--shadow-hard-sm);
}

.hero__description {
    display: block;
    margin: 0 auto;
}

.hero__title {
    font-size: var(--font-size-6xl);
    line-height: var(--line-height-none);

    @media (max-width: $bp-sm) {
        font-size: var(--font-size-4xl);
    }
}

.hero__subtitle {
    font-family: var(--font-code);
    font-size: var(--font-size-2xl);
    color: var(--primary);

    @media (max-width: $bp-sm) {
        font-size: var(--font-size-xl);
    }
}

.hero__specialty {
    font-size: var(--font-size-sm);
}

.hero__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
    gap: var(--space-4);

    a {
        text-align: center;
    }

    @media (max-width: $bp-sm) {
        flex-direction: column;
        align-items: stretch;

    }
}

.hero__badge--dot {
    color: var(--accent);
}

.hero__badge--value {
    font-weight: var(--font-weight-bold);
}


// ====== GRID DE PROYECTOS ======
.section__wrapper {
    margin: 0 var(--space-16);


    @media(max-width: $bp-md) {
        margin: 0 var(--space-10);
    }

    @media(max-width: $bp-sm) {
        margin: 0 var(--space-8);
    }
}

.projects-section__header {
    padding: var(--space-16) 0 var(--space-8);
}

.project-cards__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: var(--space-4);
    padding-bottom: var(--space-8);

    @media(max-width: $bp-md) {
        justify-items: center;
        gap: var(--space-4);
    }


}

.projects-section__title {
    margin-bottom: var(--space-2);
}

.project-card__btn a {
    color: var(--text-main);

    &:hover {
        color: var(--text-main);
    }
}


.project-card__image {
    object-fit: cover;
    max-width: fit-content;
    display: block;
    width: 100%;
}

.project-card__status-value,
.project-card__type,
.project-card__stack {
    font-family: var(--font-code);
}

.project-card__title {
    min-height: var(--space-12);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin: var(--space-3) auto;
}

.project-card__description {
    font-size: var(--font-size-sm);
    min-height: var(--space-16);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin: var(--space-2) auto;
}

.project-card__stack {
    font-size: var(--font-size-xs);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-2);
    margin: var(--space-4) auto var(--space-3);
}


.more__container {
    text-align: center;
    padding: var(--space-8);
}