.form__login {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: var(--space-6);

}

.button__container {
    margin: var(--space-6) var(--space-4) auto;
    text-align: center;
}