.profile {
    display: flex;
    margin: 0 var(--space-16);
}

.profile__main {
    flex-basis: 0;
    flex-grow: 3;
}

.profile__aside {
    flex-basis: 0;
    flex-grow: 2;
}

.profile__json-technologies {
    font-family: var(--font-code);
    padding: var(--space-6);
    margin: 0 auto;
    background-color: var(--json-bg);
    color: var(--json-key);
    width: var(--dimension-16);
    max-height: var(--dimension-30);
    overflow-y: scroll;
}

.json-punctuation {
    color: var(--json-punctuation);
}

.json-key {
    color: var(--json-key);
}

.json-string {
    color: var(--json-string);
}

.json-number {
    color: var(--json-number);
}

.json-boolean {
    color: var(--json-boolean);
}

.json-global {
    color: var(--json-global);
}

.json-nested-1 {
    color: var(--json-nested-1);
}

.json-nested-2 {
    color: var(--json-nested-2);
}

.trajectory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trajectory__milestone {
    font-family: var(--font-code);

}

.trajectory__line {
    width: var(--dimension-6);
    height: var(--dimension-3);
    border-left: var(--border-width-base) solid var(--text-main);
    transform: translateX(50%);
}