.card {
    max-width: 300px;
    background-color: var(--bg-card);
    border: var(--border-width-base) solid var(--border-strong);
}

.card__header {
    padding: var(--space-1) var(--space-2);
    font-size: var(--font-size-xs);
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.card__body {
    padding: var(--space-1) var(--space-3);
}