name: Deploy Laravel Final

on:
  push:
    branches:
      - main

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: composer install --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          
          protocol: sftp
          port: 22
          
          server-dir: /public_html/
          
          security: loose

          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            .github/**
            .env.example
            .editorconfig
            .gitattributes
            .gitignore
            README.md